<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: viewShow}"><a ng-href="/#/show/{{ show._id }}">View</a></li>
    <li role="presentation" ng-class="{active: editShow}"><a ng-href="/#/show/{{ show._id }}/edit">Edit</a></li>
</ul>