<form role="form">
    <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input type="text" ng-model="show.title" class="form-control" id="title" placeholder="Enter the show title">
    </div>
    <div class="form-group">
        <label for="title" class="control-label">URL</label>
        <input type="text" ng-model="show.url" class="form-control" id="title" placeholder="Enter the YouTube URL">
    </div>
    <input type="submit" class="btn btn-primary" ng-click="saveShow()" value="Save">
</form>