<a class="btn btn-primary" href="/#/create/show"><span class="glyphicon glyphicon-plus"></span> Create Show</a>
<table class="table table-stripe">
    <thead>
        <th>Title</th>
        <th>URL</th>
        <th>Operations</th>
    </thead>
    <tbody>
        <tr ng-repeat="show in shows">
            <td><a ng-href="/#/show/{{ show._id }}">{{ show.title }}</a>
            </td>
            <td>{{show.url}}</td>
            <td>
                <div class="button-group">
                    <a ng-href="/#/show/{{ show._id }}/edit" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a ng-href="/#/show/{{ show._id }}/delete" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>