<form role="form">
    <p>Are you sure you wish to delete the show {{ show.title }} </p>
    <div class="form-group">
        <input type="submit" class="btn btn-danger" ng-click="deleteShow()" value="Yes" />
        <button ng-click="back()" type="button" class="btn btn-default">No</button>
    </div>
</form>